In [11]:
import os
import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv(dotenv_path="cred.env", override=True)

os.getenv("username")

'studente_dapt'

In [12]:
import numpy as np

In [13]:
#ESERCIZIO 1 Che tipo di struttura dati o matematica potrebbe rappresentare? 
#Notare che tutte le liste "interne" sono della stessa dimensione Come facciamo per accedere ad un elemento in particolare?

In [14]:
#Potrebbe rappresentare una matrice o anche come un array bidimensionale.

In [15]:
mat = [[0, 1, 2, 3, 4], 
       [5, 6, 7, 8, 9], 
       [10, 11, 12, 13, 14]]

In [16]:
#mat[riga][colonna]
mat[1][3]

8

In [17]:
#ESERCIZIO 2 Importiamo il modulo math

In [18]:
import math

In [19]:
#la variabile .pi la riconoscete? Si è pigreco

In [20]:
math.degrees(math.pi)

180.0

In [21]:
help(math.degrees)

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

In [22]:
#La funzione math.degrees(x) converte un angolo da radianti a gradi.

In [23]:
#ESERCIZIO 3 trasformiamo la seguente lista in un array NumPy (casting):

In [44]:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]

In [45]:
arr = np.array(lst)

In [46]:
#qual è stata la vendita massima mensile? E quella minima?

In [47]:
print (lst)

[2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]

In [48]:
arr.max()

8150

In [49]:
arr.min()

1280

In [50]:
#quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono?

In [51]:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
arr = np.array(lst)

vendite_superiori = arr[arr > 4999]
print("Vendite > 4999:", vendite_superiori)
print("Numero:", len(vendite_superiori))

Vendite > 4999: [5500 7200 6410 8150 7100 5350]
Numero: 6

In [52]:
#quali sono le vendite mensili minori di 3000 oggetti?

In [53]:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
arr = np.array(lst)

vendite_inferiori = arr[arr < 3000]
print("Vendite < 3000:", vendite_inferiori)

Vendite < 3000: [2000 1280 1900 2500]

In [54]:
#in media quanti oggetti sono stati venduti al mese?

In [55]:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
arr = np.array(lst)
arr.mean()

4634.166666666667

In [ ]:
#ESERCIZIO 4 abbiamo il seguente dizionario e la seguente series:

In [56]:
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], 
                             index=range(1997, 2005))

In [57]:
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}

In [ ]:
#Possiamo accedere alle stesse informazioni nello stesso modo

In [58]:
fatturati_dict[1997]

12000

In [59]:
fatturati_series[1997]

12000

In [ ]:
#Dunque qual è la differenza tra i due tipi di dato? Cosa potremmo fare con la Series che non possiamo fare con il dizionario?

In [60]:
# il dizionario è una Collezione non ordinata di coppie chiave-valore mentre

In [ ]:
# la series è una struttura ordinata con etichetta di indice

In [ ]:
# la series ti permette di fare, a differenza del dict, operazioni matematiche, conversione in DataFrame, maschere, Funzioni statistiche

In [ ]:
#ESERCIZIO 5 L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray:

In [65]:
import numpy as np 
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )

In [ ]:
#L'azienda ci chiede di raddoppiare tutti gli stipendi (con for e masking)

In [67]:
stipendi_raddoppiati = []
for stipendio in stipendi:
    stipendi_raddoppiati.append(stipendio * 2)
    
stipendi_raddoppiati = np.array(stipendi_raddoppiati)
print (stipendi_raddoppiati)

[ 200  400  600  800 1000 1200 1400 1600 1800 2000]

In [68]:
stipendi_raddoppiati = stipendi * 2
print (stipendi_raddoppiati)

[ 200  400  600  800 1000 1200 1400 1600 1800 2000]