In [15]:
Studenti = 25
Nuovi_Studenti = 3
Totale_Studenti = (Studenti + Nuovi_Studenti)
print (Totale_Studenti)

28

In [16]:
Istituto = ('Epicode')
print (Istituto)

Epicode

In [22]:
x = 10
x = (x+2)*3
print (x)

36

In [27]:
str1 = "Windows" 
str2 = "Excel" 
str3 = "Powerpoint" 
str4 = "Word"

In [26]:
len (str1)

7

In [28]:
len (str2)

5

In [29]:
len (str3)

10

In [30]:
len (str4)

4

In [33]:
#calcolare quanti secondi ci sono in un anno non bisestile
giorni = 365
ore_al_giorno = 24
minuti_all_ora = 60
secondi_al_minuto = 60
secondi_annuali= giorni*ore_al_giorno*minuti_all_ora*secondi_al_minuto
print (secondi_annuali)

31536000

In [46]:
#cambiare la stringa in "TUTO MAIUSCOLO"
my_string = "I am studying Python"
print(my_string.upper())

I AM STUDYING PYTHON

In [47]:
#cambaire la stringa in "tutto minuscolo"
my_string = "I am studying Python"
print(my_string.lower())

i am studying python

In [49]:
#sostituire "Python" con "a lot"
my_string = "I am studying Python"
nuovo_titolo = my_string.replace("Python", "a lot") 
print(nuovo_titolo)

I am studying a lot

In [51]:
#utilizzare il metodo .strip () per verificare un ipotetico cambiamento
my_string = "I am studying Python"
print(my_string.strip())

#non cambia nulla perch√© non ci sono spazi vuoti all'inizio e/o alla fine

I am studying Python

In [52]:
#utilizzare il metodo .split() per trovare tutte le parole
my_string = "I am studying Python"
print(my_string.split())

['I', 'am', 'studying', 'Python']

In [59]:
#alla lista cui mancano dei dati, aggiungiamo i dati mancanti uno alla volta con il metodo .append()

#Emma segue Data Analyst 
#Faith segue Backend
#Grace segue Frontend 
#Henry segue Cybersecurity
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]


#non mancano elementi nelle liste dati ma ai fini dell'esercizio procedo con l'inserimento di altri dati.

studenti.append('Vincenzo')
studenti.append('Antonio')
studenti.append('Agostino')
studenti.append('Michele')
studenti.append('Ciro')

print (studenti)

['Alex', 'Bob', 'Cindy', 'Dan', 'Emma', 'Faith', 'Grace', 'Henry', 'Vincenzo', 'Antonio', 'Agostino', 'Michele', 'Ciro']

In [60]:



corsi.append('Sales')
corsi.append('Advertising')
corsi.append('Accounting')
corsi.append('React')
corsi.append('Python')

print (corsi)

['Cybersecurity', 'Data Analyst', 'Backend', 'Frontend', 'Data Analyst', 'Backend', 'Sales', 'Advertising', 'Accounting', 'React', 'Python']